numpy
scikit-image==0.18.3
scipy
Pillow
pandas==1.4.2
matplotlib
btrack==0.4.3
imageio
tifffile
aicsimageio
deepcell
scikit-learn
hmmlearn
PyQt5
cellpose
tensorflow
joblib
dask
nd2reader
imaris_ims_file_reader
qimage2ndarray
spatial_efd
pydantic==1.10.9
aicspylibczi
opencv-python-headless
