numpy==1.23.5
scikit-image==0.18.3
scipy==1.11.3
Pillow==
pandas==1.4.2
matplotlib==3.5.1
btrack==0.4.3
imageio==2.31.5 
tifffile==2023.9.26
aicsimageio==4.7.0
DeepCell==0.12.0
scikit-learn==1.1.1
hmmlearn==0.3.0
PyQt5==5.15.10
cellpose==2.0.5
tensorflow==2.8.4
dask==2022.2.1
nd2reader==3.3.0
imaris_ims_file_reader==0.1.8
qimage2ndarray==1.9.0
spatial_efd==1.2.1
pydantic==1.10.9
aicspylibczi==3.1.2
opencv-python-headless==4.9.0.80
