sphinx==7.1.2
sphinx_rtd_theme
recommonmark
pyqt5
scipy
pandas
Pillow
matplotlib
imageio
tifffile
scikit-image==0.18.3
btrack
qimage2ndarray
aicsimageio
cellpose
opencv-python-headless
deepcell
hmmlearn
nd2reader
spatial_efd
pydantic==1.10.9
imaris_ims_file_reader
